a{
  color:yellowgreen;
}

header{
  position: relative;
  width:100%;
  min-height:auto;
  text-align: center;
  color: #fff;
  background-image: url('http://alena-vysotskaya.ru/images/000/DSC100063611.jpg');
  background-position: center;
  -webkit-background-size:cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


header h1{
margin-top:0;
margin-bottom: 20px;
font-size: 50px;
font-weight: 700;
}

#givingback-container{
   background-color: #000;

}
.section-heading{
  margin-top: 0;
  margin-bottom: 20px;
}

.intro-section{
  color: #fff;
  background-color:yellowgreen;
  padding: 70px;
  text-align: center;
}

.section-container{
  padding:100px 0;
}


.about-me-container{
  color: #fff
  background-color: #222;

}

.giving-back-container{
  padding: 20px 0 40px;
  text-align: center;
}

.topnav {
  background-color: #000000;
  overflow:hidden;
}
